# https://nodesource.com/blog/running-your-node-js-app-with-systemd-part-1/
# https://medium.com/@simon_prickett/writing-a-systemd-service-in-node-js-on-raspberry-pi-be88d9bc2e8d

[Unit]
Description=MQTT-GPIO Service
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/scripts/mqtt-gpio/index.js
WorkingDirectory=/home/pi/scripts/mqtt-gpio
Restart=on-failure

[Install]
WantedBy=multi-user.target