# https://medium.com/@simon_prickett/writing-a-systemd-service-in-node-js-on-raspberry-pi-be88d9bc2e8d

[Unit]
Description=MQTT-GPIO Service
After=network.target

[Service]
WorkingDirectory=/home/pi/scripts/mqtt-gpio
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi
Environment=PORT=8000

[Install]
WantedBy=multi-user.target